.track-search-container {
	position: relative;
	top: 10px;
}

.track-search-container input {
	background: #fff;
	width: 400px;
	height: 30px;
	border-radius: 70px;
	border: none;
  	font-family: 'Proxima Nova', Georgia, sans-serif;
	padding: 4px 4px 4px 10px;
	outline: none;
}

.search {
	margin-left: 5px;
	cursor: pointer;
	cursor: pointer;
    color: white;
    font-size: 15px;
}

button {
	background: none;
	border: none;
	outline: none;
}



.browse-headers {
	display: flex;
  }
  
  .browse-headers p {
	color: rgb(179, 179, 179);
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Proxima Thin', Georgia, sans-serif;
	letter-spacing: 1px;
	margin: 0 20px;
	cursor: pointer;
  }
  
  .browse-headers p:first-child {
	margin: 0 20px 0 0;
  }
  
  .browse-headers p:hover {
	color: #fff;
  }
  
  .playlist-image {
	width: 230px;
  }
  
  .playlist-title-container {
	display: flex;
  }
  
  .playlist-info-container {
	padding-left: 20px;
	position: relative;
	top: 75px;
  }
  
  .created-by {
	font-family: 'Proxima Thin', Georgia, sans-serif;
	font-size: 13px;
	color: #aaa;
	padding: 8px 0;
  }
  
  .lighter-text {
	font-family: 'Proxima Nova', Georgia, sans-serif;
	color: #fff;
  }
  
  .playlist-text {
	font-family: 'Proxima Thin', Georgia, sans-serif;
	letter-spacing: 1px;
	font-size: 12px;
  }
  
  .header-title {
	font-size: 36px;
	padding: 3px 0 5px 0;
  }
  
  .browse-headers .active {
	position: relative;
  }
  
  .browse-headers .active:after {
	content: "";
	position: absolute;
	width: 35px;
	left: 50%;
	top: 22px;
	border-bottom: 2px solid #1db954;
	transform: translate(-50%, -50%);
  }
  
  .current-artist-header-container {
	  display: flex;
  }
  
  .current-artist-image {
	  width: 180px;
	  height: 180px;
	  border-radius: 50%;
  }
  
  .current-artist-info {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  padding-left: 20px;
  }
  
  .current-artist-info p {
	  text-transform: uppercase;
	  font-family: 'Proxima Thin', Georgia, sans-serif;
	  font-size: 13px;
  }
  
  .artist-button {
	  margin-top: 20px;
	  margin-left: 40px;
  }
  
  .main-pause-play-btn {
	background: #1db954;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	color: #fff;
	border: none;
	border-radius: 20px;
	padding: 10px;
	width: 100px;
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
  }
  
  .album-view-container {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
  }
  
  .album-item {
	padding: 10px;
	list-style-type: none;
	line-height: 28px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 205px;
	cursor: pointer;
  }
  
  .album-image {
	  position: relative;
  }
  
  .album-image img {
	width: 100%;
  }
  
  .album-item img:hover {
	opacity: 0.3;
  }
  
  .album-image .play-song {
	width: 40px;
	opacity: 0;
	text-align: center;
  }
  
  .album-image .play-song .fa {
	font-size: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ccc;
	cursor: pointer;
	-webkit-text-stroke: 6px rgb(24, 24, 24);
	z-index: -1;
  }
  
  .album-image:hover > .play-song {
	opacity: 1;
  }
  
  .album-details {
	line-height: 22px
  }
  
  .album-details .artist-name {
	color: rgb(179, 179, 179);
	font-family: 'Proxima Thin', Georgia, sans-serif;
  }

  .main-section-container {
	position: relative;
	top: 50px;
	padding-bottom: 100px;
  }

  .header {
	position: fixed;
	width: 1200px;
	z-index: 1000;
	  display: flex;
	  justify-content: space-between;
	  background: rgb(24, 24, 24);
  }
  