.side-menu-container {
  padding: 20px;
  color: rgb(179, 179, 179);
  margin: 0;
}

.user-library-header {
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Proxima Thin', Georgia, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0 0 5px 0;
  letter-spacing: 1px;
}

.side-menu-item {
  list-style-type: none;
  line-height: 28px;
  font-size: 18px;
  width: 140px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side-menu-item:hover {
  color: #fff;
}

.radio {
  margin-bottom: 20px;
}

.side-menu-container .active {
	margin-left: -3px;
}

.side-menu-container .active:before {
	content: "";
	border-left: 3px solid #1db954;
	position: relative;
	left: -18px;
  
}
